In [5]:
import pandas as pd

In [6]:
df = pd.read_csv("C:/Users/jubie/Downloads/Sales_add.csv")
df

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402
5,Month-6,Region - A,Manager - B,137163,256948
6,Month-7,Region - C,Manager - C,130625,222106
7,Month-8,Region - A,Manager - A,131140,230637
8,Month-9,Region - B,Manager - C,171259,226261
9,Month-10,Region - C,Manager - B,141956,193735
10,Month-11,Region - B,Manager - C,159339,203175
11,Month-12,Region - A,Manager - A,178939,276279
12,Month-13,Region - B,Manager - A,145062,205180
13,Month-14,Region - A,Manager - A,151514,253131
14,Month-15,Region - C,Manager - A,147463,229336
15,Month-16,Region - A,Manager - B,177195,187305
16,Month-17,Region - A,Manager - C,140862,234908
17,Month-18,Region - C,Manager - B,167996,191517
18,Month-19,Region - B,Manager - A,132135,227040
19,Month-20,Region - A,Manager - B,152493,212579
20,Month-21,Region - B,Manager - A,147425,263388
21,Month-22,Region - A,Manager - C,130263,243020

In [9]:
df.describe()

       Sales_before_digital_add(in $)  Sales_After_digital_add(in $)
count                       22.000000                      22.000000
mean                    149239.954545                  231123.727273
std                      14844.042921                   25556.777061
min                     130263.000000                  187305.000000
25%                     138087.750000                  214960.750000
50%                     147444.000000                  229986.500000
75%                     157627.500000                  250909.000000
max                     178939.000000                  276279.000000

In [10]:
df.columns

Index(['Month', 'Region', 'Manager', 'Sales_before_digital_add(in $)',
       'Sales_After_digital_add(in $)'],
      dtype='object')

In [11]:
df.mean() # to find mean,median,mode

C:\Users\jubie\AppData\Local\Temp\ipykernel_5576\3917005887.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.mean() # to find mean,median,mode

Sales_before_digital_add(in $)    149239.954545
Sales_After_digital_add(in $)     231123.727273
dtype: float64

In [12]:
df.median()

C:\Users\jubie\AppData\Local\Temp\ipykernel_5576\530051474.py:1: FutureWarning: The default value of numeric_only in DataFrame.median is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.median()

Sales_before_digital_add(in $)    147444.0
Sales_After_digital_add(in $)     229986.5
dtype: float64

In [13]:
df.mode()

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,130263,187305
1,Month-10,NaN,NaN,130625,191517
2,Month-11,NaN,NaN,131140,193735
3,Month-12,NaN,NaN,132135,203175
4,Month-13,NaN,NaN,132921,205180
5,Month-14,NaN,NaN,137163,212579
6,Month-15,NaN,NaN,140862,222106
7,Month-16,NaN,NaN,141956,223334
8,Month-17,NaN,NaN,145062,226261
9,Month-18,NaN,NaN,146278,227040
10,Month-19,NaN,NaN,147425,229336
11,Month-2,NaN,NaN,147463,230637
12,Month-20,NaN,NaN,149559,231808
13,Month-21,NaN,NaN,151514,234908
14,Month-22,NaN,NaN,152167,243020
15,Month-3,NaN,NaN,152493,244243
16,Month-4,NaN,NaN,159339,253131
17,Month-5,NaN,NaN,159525,256948
18,Month-6,NaN,NaN,167996,258402
19,Month-7,NaN,NaN,171259,263388
20,Month-8,NaN,NaN,177195,270390
21,Month-9,NaN,NaN,178939,276279

# Hypothesis Testing
1. Create hypothesis
2. choose statistical test
3. set alpha or type 1 error expt
4. get data & samples
5. analyse
6. state the decision

## hypothesis
# (a)

       a)       Null Hypothesis(H0): there is no significant difference in sales after stepping into digital marketing
                alternative Hypothesis(HA): there is significant differnce in sales after stepping into digital marketing

In [2]:
import statistics as stat

In [14]:
stat.stdev(df['Sales_before_digital_add(in $)']) # to find standard deviation

14844.042920846421

In [16]:
stat.stdev(df['Sales_After_digital_add(in $)'])

25556.777060725042

In [18]:
from statsmodels.stats.weightstats import ztest as ztest # to find z-score

In [19]:
z_stat1,p_val1=ztest(df['Sales_before_digital_add(in $)'],df['Sales_After_digital_add(in $)'],value=0)

In [20]:
p_val1

1.3046367348248653e-38

In [21]:
if p_val1<0.05:                                #type of errors or level of significance
    print('Null Hypothesis Rejected')
else:
    print('Null Hypothesis Accepted')

Null Hypothesis Rejected

In [22]:
from scipy.stats import ttest_1samp # to find t-test

test_statistic, p_value = ttest_1samp(df['Sales_After_digital_add(in $)'], popmean=0, alternative='two-sided')

print(p_value)

if p_value < 0.05:
    print("\nWe Reject Null Hypothesis")
else:
    print("\nWe Accept Alternate Hypothesis")

7.758981966377946e-22

We Reject Null Hypothesis

In [78]:
from scipy.stats import ttest_1samp

test_statistic, p_value = ttest_1samp(df['Sales_before_digital_add(in $)'], popmean=0, alternative='two-sided')

print(p_value)
if p_value < 0.05:
    print("\nWe Reject Null Hypothesis")
else:
    print("\nWe Accept Alternate Hypothesis")

8.580991905897999e-23

We Reject Null Hypothesis

# Inference: 
 The p-value is 1.3046367348248653e-38 is less than alpha(0.05),hence reject null hypothesis .Therefore there is significant difference in sales after stepping into digital marketing.

# (b)

b)     Null Hypothesis(H0): There is no significant dependency  between the features"Region"  and "Manager". 
               Alternative hypothesis(HA): There is significant relationship between the features"Region" and "Manager".

In [ ]:
#first do the cross tabulation of both categorical varibles

In [55]:
pd.crosstab(df.Region,df.Manager)

Manager     Manager - A  Manager - B  Manager - C
Region
Region - A            4            3            3
Region - B            4            1            2
Region - C            1            3            1

In [56]:
import scipy.stats as stats

In [74]:
from scipy.stats import chi2_contingency
stat,p,dof,expec = chi2_contingency(df['Sales_before_digital_add(in $)'],df['Manager'])
print(stat,p,dof,expec)

0.0 1.0 0 [132921. 149559. 146278. 152167. 159525. 137163. 130625. 131140. 171259.
 141956. 159339. 178939. 145062. 151514. 147463. 177195. 140862. 167996.
 132135. 152493. 147425. 130263.]

In [75]:

stat,p,dof,expec = chi2_contingency(df['Sales_After_digital_add(in $)'],df['Manager'])
print(stat,p,dof,expec)

0.0 1.0 0 [270390. 223334. 244243. 231808. 258402. 256948. 222106. 230637. 226261.
 193735. 203175. 276279. 205180. 253131. 229336. 187305. 234908. 191517.
 227040. 212579. 263388. 243020.]

In [76]:
stat,p,dof,expec = chi2_contingency(df['Sales_before_digital_add(in $)'],df['Region'])
print(stat,p,dof,expec)

0.0 1.0 0 [132921. 149559. 146278. 152167. 159525. 137163. 130625. 131140. 171259.
 141956. 159339. 178939. 145062. 151514. 147463. 177195. 140862. 167996.
 132135. 152493. 147425. 130263.]

In [77]:
stat,p,dof,expec = chi2_contingency(df['Sales_After_digital_add(in $)'],df['Region'])
print(stat,p,dof,expec)

0.0 1.0 0 [270390. 223334. 244243. 231808. 258402. 256948. 222106. 230637. 226261.
 193735. 203175. 276279. 205180. 253131. 229336. 187305. 234908. 191517.
 227040. 212579. 263388. 243020.]

In [86]:
if p< 0.05:
    print("\nWe Reject Null Hypothesis")
else:
    print("\nWe Accept Alternate Hypothesis")

We Accept Alternate Hypothesis

# inference
The p-value is greater than 0.05 , hence accept null hypothesis.Therefore, there is significant relationship between the features"Region" and "Manager".